# MacOS
.DS_Store

# IntelliJ
.idea/*
*.iml

# Compiled output
*.class
out/*

# Ignore files related to API Keys
.env

# VS Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix